---
import Header from "@components/ui/Header.astro";
import { Loader } from "./Loader";
import { NotificationsProvider } from "../hoc/NotificationsProvider";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link
            rel="shortcut icon"
            href="/favicon.ico"
            type="image/x-icon"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>PetsAnd+</title>

        <meta
            name="description"
            content="PetsAndPlus es una pequeña red social donde podrás compartir una parte de esa felicidad que tus compañeros peludos te brindan. ¡Comparte la alegría!"
        />
        <meta property="og:title" content="PetsAndPlus" />
        <meta property="og:site_name" content="PetsAndPlus" />
        <meta
            property="og:description"
            content="PetsAndPlus es una pequeña red social donde podrás compartir una parte de esa felicidad que tus compañeros peludos te brindan. ¡Comparte la alegría!"
        />
        <meta
            property="og:image"
            content={`${process.env.DOMAIN_NAME}/logo.png`}
        />
        <meta property="og:url" content={process.env.DOMAIN_NAME} />
    </head>
    <body>
        <Header />

        <slot />

        <Loader client:load />

        <NotificationsProvider client:load />

        <a href="/feed" class="continue-link">Continuar sin sesión</a>
    </body>
</html>
<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap");

    :root {
        --main-color: #46d1d3;
        --main-color-hover: rgb(60, 181, 183);
        --secondary-color: #e55;
        --secondary-color-hover: rgb(227, 73, 73);
        --header-height: 76px;

        --success-color: rgb(0, 201, 0);
        --error-color: rgb(255, 55, 55);
        --warning-color: rgb(245, 255, 50);
        --info-color: rgb(79, 108, 255);

        background-color: #fcfcfc;
        font-size: 13px;
        color: #343434;
    }

    body {
        background-image: url("/bg.png");
        position: relative;
        /* background-size: 25%; */
    }

    .continue-link {
        background-color: var(--info-color);
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: #fafafa;
        text-decoration: none;
        padding: 0.6rem 1.2rem;
        border-radius: 5rem;
        font-size: 1.2rem;
        box-shadow: 0 4px 12px -8px #343434;
        transition: transform 250ms ease;
    }

    .continue-link:hover,
    .continue-link:focus-visible {
        transform: scale(1.02);
    }

    .shadow-island {
        box-shadow: 0 2px 10px -6px #8d8d8daa;
        background-color: #fff;
    }

    input:focus {
        outline: thin solid var(--secondary-color);
    }

    button:focus {
        outline: none;
    }

    *,
    *::after,
    *::before {
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    @media screen and (min-width: 480px) {
        :root {
            font-size: 14px;
        }
    }

    @media screen and (min-width: 776px) {
        :root {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 990px) {
        :root {
            font-size: 18px;
        }
    }
</style>
