---
import { ViewTransitions } from "astro:transitions";

import Header from "@/components/ui/Header.astro";
import Footer from "../ui/Footer.astro";
import { NotificationsProvider } from "../hoc/NotificationsProvider";
import { Loader } from "./Loader";
import { Menu } from "./Menu";
import { SessionFetcher } from "./SessionFetcher";

const theme = Astro.cookies.get("theme") || { value: "light" };

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | PetsAnd+</title>

        <meta
            name="description"
            content="PetsAndPlus es una pequeña red social donde podrás compartir una parte de esa felicidad que tus compañeros peludos te brindan. ¡Comparte la alegría!"
        />
        <meta property="og:title" content="PetsAndPlus" />
        <meta property="og:site_name" content="PetsAndPlus" />
        <meta
            property="og:description"
            content="PetsAndPlus es una pequeña red social donde podrás compartir una parte de esa felicidad que tus compañeros peludos te brindan. ¡Comparte la alegría!"
        />
        <meta
            property="og:image"
            content={`${process.env.DOMAIN_NAME}/logo.png`}
        />
        <meta property="og:url" content={process.env.DOMAIN_NAME} />

        <ViewTransitions />
    </head>
    <body class={theme?.value === "dark" ? "dark-mode" : "light-mode"}>
        <Header />

        <slot />

        <Menu client:load />

        <Loader client:load />

        <NotificationsProvider client:load />

        <Footer />

        <SessionFetcher client:load />

        <section id="modal-root"></section>
        <section id="window-root"></section>
        <style is:global>
            @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap");

            body {
                /* min-height: 100dvh; */
                min-width: 320px;
                background-image: url("/bg.png");
                background-size: 50%;
                background-attachment: fixed;
            }

            ::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            body::-webkit-scrollbar-thumb {
                box-shadow: 0 -100vh 0 100vh var(--main-color);
            }

            ::-webkit-scrollbar-thumb {
                background-color: var(--main-color);
                border-radius: 1rem;
            }

            :root {
                --main-color: #54dbdd;
                --main-color-hover: rgb(78, 201, 203);
                --secondary-color: rgb(244, 91, 91);
                --secondary-color-hover: rgb(222, 68, 68);
                --third-color: rgb(133, 243, 216);
                --third-color-hover: rgb(102, 218, 189);
                --header-height: 76px;

                --dark-bg-color: #323232;
                --dark-bg-color-hover: #474747;
                --darkest-bg-color: #1b1b1b;
                --dark-text-color: #f4f4f4;
                --dark-text-color-hover: #e4e4e4;
                --darkest-text-color: #dbdbdb;

                --success-color: rgb(0, 201, 0);
                --error-color: rgb(255, 55, 55);
                /* --warning-color: rgb(245, 255, 50); */
                --warning-color: rgb(228, 238, 45);
                --info-color: rgb(79, 108, 255);

                background-color: #fcfcfc;
                color: #343434;
                font-size: 13px;
            }

            button {
                outline: none;
            }

            .button {
                border: none;
                padding: 0.6rem;
                box-shadow: 0.1rem 0.1rem 0.8rem -0.6rem #2e2e2e;
                background-color: var(--main-color);
                /* background-color: red; */
                border-radius: 0.5rem;
                font-size: 1rem;
                transition: background-color 250ms ease;
            }

            .skeleton {
                width: 100%;
                height: 100%;
                position: relative;
                background-color: #e7e7e7 !important;
                overflow: hidden;
            }

            .dark-mode .skeleton {
                background-color: #656565 !important;
            }

            .skeleton .long.flash {
                background-image: linear-gradient(
                    to right,
                    transparent 5%,
                    #fafafa88 15% 15%,
                    transparent 25%
                );
            }

            .flash {
                display: block;
                position: absolute;
                top: 0;
                left: -30%;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(
                    to right,
                    transparent,
                    #fafafa88 15% 15%,
                    transparent 30%
                );
                animation: slide-flash 1200ms ease infinite;
            }

            @keyframes slide-flash {
                to {
                    transform: translateX(130%);
                }
            }

            .dark-mode .loader {
                background-color: #656565;
            }

            .dark-mode {
                background-color: var(--darkest-bg-color);
                color: var(--darkest-text-color);
            }

            .dark-mode footer {
                color: #343434;
            }

            :root .dark-mode {
                --main-color: #4bd1d3;
                --main-color-hover: rgb(72, 192, 194);
                --secondary-color: rgb(233, 81, 81);
                --secondary-color-hover: rgb(222, 68, 68);
                --third-color: rgb(124, 237, 209);
                --third-color-hover: rgb(102, 218, 189);
            }

            /* .sub-container .content-container,
            .modal-full,
            .menu > .first:focus,
            .menu a,
            .menu button,
            .menu .first,
            .select-container,
            .options-container span,
            .asides-container aside,
            .post-article,
            .post-article a,
            .modal-bar,
            .button-img-container,
            input,
            textarea {
                transition: background-color 500ms ease;
            } */

            .dark-mode .sub-container .content-container,
            .dark-mode .modal-full,
            .dark-mode .menu > .first:focus,
            .dark-mode .menu a,
            .dark-mode .menu button,
            .dark-mode .menu .first,
            .dark-mode .select-container,
            .dark-mode .options-container span,
            .dark-mode .asides-container aside,
            .dark-mode .post-article,
            .dark-mode .post-article a,
            .dark-mode .modal-bar,
            .dark-mode .button-img-container,
            .dark-mode input,
            .dark-mode textarea {
                background-color: var(--dark-bg-color);
                color: var(--dark-text-color);
                /* transition: background-color 500ms ease; */
            }

            .dark-mode .menu > * {
                box-shadow: 0 0 10px -4px var(--dark-text-color-hover);
            }

            .dark-mode .text-container {
                box-shadow: 0 0 6px -4px var(--dark-text-color-hover);
            }

            .dark-mode .modal-bar {
                box-shadow: 0 0 10px -6px var(--dark-text-color-hover);
            }

            .dark-mode .modal-bar:hover {
                background-color: var(--dark-bg-color-hover);
            }

            .dark-mode .button-card,
            .dark-mode .link-container {
                box-shadow: 0 2px 10px -6px var(--dark-text-color-hover);
            }

            .dark-mode .select-container {
                box-shadow: 0 2px 10px -8px var(--dark-text-color-hover);
            }

            .dark-mode .options-container .active,
            .dark-mode .options-container span:hover,
            .dark-mode .options-container span:focus-visible {
                background-color: var(--dark-bg-color-hover);
            }

            .dark-mode input,
            .dark-mode textarea {
                box-shadow: 0 0.1rem 0.8rem -0.6rem var(--darkest-text-color);
            }

            .dark-mode input::placeholder,
            .dark-mode textarea::placeholder {
                color: grey;
            }

            .full-width {
                width: 100%;
            }

            .button-round {
                border-radius: 10rem;
            }

            .f-center-child {
                display: flex;
                justify-content: center;
            }

            .m-center-element {
                margin-left: auto;
                margin-right: auto;
            }

            .aux-img-container {
                width: 100%;
                max-width: 450px;
                height: auto;
                display: block;
                background-color: #ededed;
                border-radius: 4px;
                box-shadow: 0 2px 12px -8px #2e2e2e;
            }

            .dark-mode .aux-img-container {
                box-shadow: 0 2px 12px -8px var(--dark-text-color-hover);
            }

            .aux-img-container img {
                border-radius: 4px;
                width: 100%;
                height: 100%;
                font-style: italic;
                display: block;
            }

            /* .img-container {
                max-width: 100%;
                height: auto;
                display: block;
                background-color: #ededed;
            } */

            .bg-secondary {
                background-color: var(--secondary-color);
            }

            .bg-third {
                background-color: var(--third-color);
            }

            input {
                border: none;
                padding: 0.6rem;
                box-shadow: 0.1rem 0.1rem 0.8rem -0.6rem #2e2e2e;
                border-radius: 0.5rem;
            }

            select {
                border: none;
                border-radius: 4px;
                padding: 0.3rem;
                box-shadow: 0.1rem 0.1rem 0.8rem -0.6rem #2e2e2e;
            }

            .chip {
                box-shadow: 0 2px 10px -8px #2e2e2e;
                color: gray;
                border-radius: 5rem;
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
                background-color: var(--third-color);
                cursor: default;
            }

            button:focus {
                outline: none;
                /* background-color: red; */
            }

            @media screen and (hover: hover) {
                input:focus {
                    outline: thin solid var(--secondary-color);
                }

                button:hover,
                /* button:focus, */
                button:focus-visible {
                    background-color: var(--main-color-hover);
                    outline: none;
                    /* transition: transform 250ms ease;
                    transform: scale(1.05); */
                }

                .bg-secondary:hover,
                .bg-secondary:focus-visible {
                    background-color: var(--secondary-color-hover);
                    /* background-color: yellow; */
                }

                .bg-third:hover,
                .bg-third:focus-visible {
                    background-color: var(--third-color-hover);
                }

                input:hover,
                input:focus-visible,
                select:hover,
                select:focus-visible {
                    outline: thin solid var(--secondary-color);
                }
            }

            .dark-mode .shadow-island {
                background-color: var(--dark-bg-color);
                color: var(--dark-text-color);
                box-shadow: 0 0 1rem -0.8rem var(--dark-text-color-hover);
            }

            .shadow-island {
                box-shadow: 0 0 1rem -0.8rem #000;
                background-color: #fff;
            }

            *,
            *::after,
            *::before {
                margin: 0;
                box-sizing: border-box;
                font-family: "Poppins", "Montserrat", Arial, Helvetica,
                    sans-serif;
                font-size: 1rem;
            }

            @media screen and (min-width: 480px) {
                :root {
                    font-size: 14px;
                }
            }

            @media screen and (min-width: 776px) {
                :root {
                    font-size: 16px;
                }

                .button {
                    font-size: 0.9rem;
                }
            }

            @media screen and (min-width: 990px) {
                :root {
                    font-size: 18px;
                }
            }

            .fadeIn {
                -webkit-animation-duration: 450ms;
                animation-duration: 450ms;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            .fadeOut {
                -webkit-animation-duration: 450ms;
                animation-duration: 450ms;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeOut;
                animation-name: fadeOut;
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        </style>
    </body>
</html>
