---
import MainLayout from "@/components/layouts/MainLayout.astro";
---

<MainLayout title="Página no encontrada">
    <div class="shadow-island" style={{ margin: "2rem", padding: "1rem" }}>
        <p>Vaya, parece que la página que buscabas no fue encontrada.</p>
    </div>
</MainLayout>
