.main-container {
    position: relative;
    padding: 0 1rem;
}

.more-posts-btn {
    width: 100%;
}

.asides-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    row-gap: 1rem;
    width: 100%;
}

aside {
    /* min-width: 300px; */
    /* width: 100%; */
    background-color: #fff;
    /* background-color: red; */
    box-shadow: 0 4px 6px -5px rgba(151, 151, 151, .7);
    /* position: fixed; */
    /* max-height: 50dvh; */
    border-radius: .3rem;
    overflow-y: auto;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
}

@media screen and (min-width: 990px) {
    .main-container {
        display: grid;
        /* padding: 0; */
        grid-template-columns: 37.5% 4fr 1fr;
        gap: 1rem;
        margin: 1rem 0;
    }

    .asides-container {
        /* background-color: red; */
        height: calc(100dvh - 2rem);
        margin: 0 auto;
        position: sticky;
        margin: 0;
        top: 1rem;
        left: 0;
        width: clamp(300px, 100%, 547.5px);
    }

    aside {
        height: 50%;
    }
}












/*
.main-container {
    position: relative;
    padding: 0 1rem;
}

.more-posts-btn {
    width: 100%;
}

aside {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px -5px rgba(151, 151, 151, .7);
    max-height: 50dvh;
    border-radius: .3rem;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
}

@media screen and (min-width: 990px) {
    .main-container {
        display: grid;
        grid-template-columns: 3fr 4fr 1fr;
        gap: 1rem;
        margin: 1rem 0;
    }

    aside {
        margin: 0 auto;
        position: sticky;
        top: 1rem;
        left: 0;
    }
}
*/