.disable-body {
    overflow-y: hidden;
}

@media screen and (hover:hover) {
    .disable-body {
        overflow-y: hidden;
        margin-right: 4px;
    }
}

.modal,
.modal-full {
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.6);
}

.modal {
    animation: modal-fade-in 500ms ease normal 1 both;
}

.window-closing {
    animation: modal-fade-out 500ms ease normal 1 forwards;
}

/* .modal-restrict { */

/* align-items: flex-start; */
/* padding: 1rem 0; */
/* } */

.modal-full {
    display: block;
    background-color: #fafafa;
    transition: transform 500ms ease;
    padding: 1.5rem;
    height: auto;
    min-height: 100dvh;
    animation: modal-slide-in 500ms ease normal 1 both;
}

@keyframes modal-slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.closing {
    animation: modal-slide-out 500ms ease normal 1 both;
}

@keyframes modal-slide-out {
    to {
        transform: translateX(100%);
    }
}

.modal-full-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-full-title-container span {
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (hover: hover) {
    .modal-full {
        animation: modal-fade-in 500ms ease normal 1 both;
    }

    @keyframes modal-fade-in {
        from {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .closing {
        animation: modal-fade-out 500ms ease normal 1 forwards;
    }
}

@keyframes modal-fade-out {
    to {
        opacity: 0;
    }
}

/* Modal All Childs container */
.modal-child-container {
    min-width: 300px;
    width: 100%;
    max-width: 760px;
    max-height: 85dvh;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Modal Button component */
.modal-button {
    /* padding: .4rem 1rem; */
    padding: .6rem;
}

.modal-button-less {
    padding: .5rem .8rem;
}

.modal-window {
    background-color: #fafafa;
    min-width: 320px;
    width: 80%;
    max-width: 800px;
    min-height: 300px;
    height: 80%;
    max-height: 700px;
    border-radius: 8px;
    padding: 1.5rem;
}

.modal-window::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

.modal-window::-webkit-scrollbar-thumb {
    box-shadow: 0 -100vh 0 100vh var(--secondary-color);
}

.modal-window-restrict {
    background-color: transparent;
    position: relative;
    padding: 0;
    display: flex;
    place-items: center;
    width: 95%;
    max-width: 700px;
    height: 100%;
    max-height: unset;
    /* border-radius: 8px; */
    /* padding: 1.5rem; */
}

.modal-title-container {
    display: flex;
}

.modal-title-container span {
    font-size: 1.8rem;
    font-weight: 400;
}

.modal-close-restrict {
    height: 36px;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    /* background-color: red; */
    border-radius: 50%;
    z-index: 100;
}

.modal-close {
    height: 36px;
    cursor: pointer;
}


.svg-icon.icon-close {
    width: 36px;
    height: 36px;
}

.svg-icon.icon-close path,
.svg-icon.icon-close polygon,
.svg-icon.icon-close rect {
    fill: gray;
}

.svg-icon.icon-close circle {
    stroke: gray;
    stroke-width: 1;
}

.svg-icon.icon-close-restrict path,
.svg-icon.icon-close-restrict polygon,
.svg-icon.icon-close-restrict rect {
    fill: var(--third-color);
}

.svg-icon.icon-close-restrict circle {
    stroke: var(--third-color);
    stroke-width: 1;
}


/* Modal Img component */
.button-img-container {
    width: 100%;
}


/* Modal Card component */
.button-card {
    cursor: pointer;
    transition: background-color 350ms ease;
    box-shadow: 0 3px 10px -4px #2e2e2e88;
    width: clamp(80px, 100%, 130px);
    border-radius: 5px;
}

.button-card span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

@media screen and (hover: hover) {

    .button-card:hover,
    .button-card:focus-visible {
        transition: background-color 200ms ease;
        background-color: var(--third-color-hover);
    }
}

.button-card .card-modal-img {
    width: 90%;
    margin: 0 auto .5rem;
    border-radius: 10rem;
}

@media screen and (min-width: 480px) {
    .button-card .card-modal-img {
        width: 75%;
    }
}

@media screen and (min-width: 990px) {
    .button-card .card-modal-img {
        width: 80%;
    }
}


/* Modal Bar component */
.modal-bar {
    background-color: transparent;
    border-radius: 6px;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    transition: background-color 250ms ease;
    animation: bar-slide-in 500ms ease both;
}

@keyframes bar-slide-in {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.bar-img-container {
    width: 70px;
    border-radius: 50%;
}

.bar-title {
    flex-grow: 1;
    text-align: left;
}

.bar-count {
    width: 2rem;
    height: 2rem;
    color: #fafafa;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

/* @keyframes bar-count-bounce {
    15% {
        transform: translateY(-1.1rem);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-0.6rem);
    }

    60% {
        transform: translateY(0);
    }
} */

@media screen and (hover: hover) {
    .modal-bar:hover {
        background-color: rgba(240, 240, 240, 0.5);
    }
}