.link-card {
    color: #343434;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: .5rem 0;
}

.link-container {
    background-color: var(--third-color-hover);
    transition: background-color 350ms ease;
    padding: .5rem 0;
    border-radius: 1rem;
}

.card-img {
    width: 70%;
    max-width: 120px;
    margin: 0 auto .5rem;
    border-radius: 10rem;
    overflow: hidden;
    aspect-ratio: 1;
}

.card-img img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}