<div class="bg-container">
    <img src="/layered-waves.svg" alt="Background-waves" />
</div>
<footer>
    <p>
        Esta aplicación web fue diseñada, desarrollada y desplegada por <a
            href="https://www.instagram.com/mlfasanellap/"
            target="_blank"
            rel="noreferrer">Miguel Fasanella</a
        > dentro de <a
            href="https://www.nezt.dev/"
            target="_blank"
            rel="noreferrer">Nezt Agency</a
        >.
    </p>

    <p data-spacing>
        Si estás interesad@ en tener tu propia aplicación web, móvil o de
        escritorio para impulsar tu negocio, marca personal o empresa, ¡cotiza
        un proyecto en nuestra <a
            href="https://www.nezt.dev/"
            target="_blank"
            rel="noreferrer">página web</a
        >! Es totalmente gratis, rápido y recibirás una respuesta personalizada
        para tu tipo de trabajo.
    </p>
</footer>
<style>
    .bg-container {
        margin-top: 2rem;
    }

    .bg-container img {
        display: block;
        width: 100%;
    }

    footer {
        background-color: var(--third-color-hover);
        padding: 3.5rem 1.5rem;
    }

    p[data-spacing] {
        margin-top: 1rem;
    }

    footer a {
        color: var(--secondary-color-hover);
    }
</style>
