.post-container {
    aspect-ratio: 1;
}

.button-img-container {
    border: none;
    overflow: hidden;
    padding: 0;
    display: block;
    cursor: pointer;
}

.post-container .img-container {
    overflow: hidden;
}

.button-img-container img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
}

.modal-window p {
    text-align: justify;
    white-space: pre-wrap;
}

.text-container {
    width: 95%;
    padding: 1.5rem;
    box-shadow: 0 2px 10px -6px rgba(78, 78, 78, .7);
}

.text-container p {
    white-space: pre-wrap;
}

.post-data-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    height: calc(100dvh - 6.5rem);
    overflow-y: auto;
}

.post-data-container p {
    white-space: pre-wrap;
}

.post-data-container .post-slider-container {
    width: 100%;
    max-width: 450px;
    /* border-radius: 4px; */
    aspect-ratio: 1;
    margin: 0 auto 1rem;
}

.post-slider-container .img-container {
    border-radius: 4px;
    overflow: hidden;
}

.text-container .post-info,
.modal-window-slice .post-info,
.post-data-container .post-info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info>* {
    font-size: .8rem;
    color: gray;
}

.post-info .delete-btn {
    color: #fff;
    font-size: .8rem;
    border-radius: 5rem;
    padding: .5rem 1rem;
    cursor: default;
}

.post-info>div {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

/* .post-info span:first-child {
    border-radius: 5rem;
    padding: .5rem 1rem;
    cursor: default;
} */

@media screen and (min-width: 990px) {
    .button-img-container {
        border-radius: 6px;
    }
}

.post-data-container .post-img-container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.post-img-container.post-img-container-multiple {
    margin-top: 1rem;
}

.post-data-container .post-img-container img {
    /* margin: 0 auto 1rem; */
    display: block;
    width: 100%;
    border-radius: 4px;
}