/* Componente padre */
.pets-info-container {
    max-width: 100%;
    display: flex;
    margin: 1rem auto;
    flex-wrap: nowrap;
    position: relative;

    --button-size: 2.8rem;
}

.slider-info-button-container {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-pets {
    display: flex;
    flex-grow: 1;
    width: calc(100% - var(--button-size) - var(--button-size));
    overflow-x: hidden;
}

.all-pets>* {
    flex-basis: 33.34%;
    min-width: 33.34%;
    text-align: center;
    transform: translateX(0);
    transition: transform 500ms ease-in-out, background-color 350ms ease;
}

button.open-icon-container,
button.close-icon-container {
    padding: 0;
    min-width: var(--button-size);
    height: var(--button-size);
    background-color: transparent;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    transition: background-color 350ms ease;
}

@media screen and (hover: hover) {

    button.open-icon-container:hover,
    button.close-icon-container:hover,
    button.open-icon-container:focus-visible,
    button.close-icon-container:focus-visible {
        background-color: rgba(215, 215, 215, 0.5);
    }

    .all-pets>*:hover,
    .all-pets>*:focus-visible {
        transition: transform 500ms ease-in-out, background-color 150ms ease;
    }
}

.open-icon-container {
    cursor: pointer;
    left: 0;
}

.close-icon-container {
    cursor: pointer;
    transform: rotate(180deg);
    right: -1rem;
}

.svg-icon.close-icon-pet,
.svg-icon.open-icon-pet {
    width: 2rem;
    height: 2rem;
}

.svg-icon.open-icon-pet path,
.svg-icon.open-icon-pet polygon,
.svg-icon.open-icon-pet rect,
.svg-icon.close-icon-pet path,
.svg-icon.close-icon-pet polygon,
.svg-icon.close-icon-pet rect {
    fill: var(--main-color);
}

.svg-icon.open-icon-pet circle,
.svg-icon.close-icon-pet circle {
    stroke: var(--main-color);
    stroke-width: 1;
}


/* PetInfo mostrado en el Modal */
.pet-info-section {
    min-width: 300px;
    width: 100%;
    max-width: 700px;
    max-height: 88dvh;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.pet-type {
    font-size: 1.5rem;
    font-weight: 400;
}

.pet-info-first {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.pet-info-first h3 {
    padding: 0;
}

.pet-info-first .img-container .img-editing {
    font-size: 7rem;
}

.pet-info-first .img-container {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.pet-info-first .img-container img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.pet-info-first p {
    font-size: 1.2rem;
    white-space: pre-wrap;
}

.behaviors-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.follow-pet-button {
    display: flex;
    column-gap: .5rem;
    background-color: var(--info-color);
    align-items: center;
    color: #f8f8f8;
    padding: 4px;
    padding-right: 1rem;
    border-radius: 10rem;
    cursor: pointer;
}

.pet-followed {
    background-color: var(--success-color);
}

.pet-followed .follow-pet-icon-container {
    transform: rotate(0deg);
}

.follow-pet-icon-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #fff;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    transform: rotate(225deg);
    transition: transform 500ms ease;
}

.svg-icon.icon-follow-pet {
    width: 1.3rem;
    height: 1.3rem;
}

.svg-icon.icon-follow-pet path,
.svg-icon.icon-follow-pet polygon,
.svg-icon.icon-follow-pet rect {
    fill: var(--info-color);
}

.svg-icon.icon-follow-pet circle {
    stroke: var(--info-color);
    stroke-width: 1;
}

.pet-followed .svg-icon.icon-follow-pet path,
.pet-followed .svg-icon.icon-follow-pet polygon,
.pet-followed .svg-icon.icon-follow-pet rect {
    fill: var(--success-color);
}

.pet-followed .svg-icon.icon-follow-pet circle {
    stroke: var(--success-color);
    stroke-width: 1;
}

@media screen and (min-width: 776px) {
    .follow-pet-icon {
        width: 2.3rem;
        height: 2.3rem;
    }

    .pet-info-section {
        max-height: 85dvh;
    }
}

@media screen and (min-width: 990px) {
    .follow-pet-icon {
        width: 2.1rem;
        height: 2.1rem;
    }
}

@media screen and (hover:hover) {

    .follow-pet-icon:hover,
    .follow-pet-icon:focus {
        background-color: #f8f8f8;
    }

    .follow-pet-button:hover {
        background-color: var(--info-color);
    }

    .follow-pet-button.pet-followed:hover {
        background-color: var(--success-color);
    }
}

.behaviors-container>span {
    border-radius: 5rem;
    padding: .5rem 1rem;
    cursor: default;
}