.slider-container {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-container>* {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.active {
    opacity: 1;
    z-index: 2;
}

.buttons__container {
    z-index: 10;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    padding: 0 .5rem;
}

.pass__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    border: 0;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 250ms ease;
}

/* .left::before,
.left::after,
.right::before,
.right::after {
    content: '';
    display: block;
    position: absolute;
    //border-radius: 1rem;
    top: 35%;
    left: .9rem;
    height: 4px;
    width: 16px;
    background-color: #f8f4f4da;
    cursor: pointer;
    transform: rotate(40deg);
    transition: transform 250ms ease, background-color 250ms ease;
} */

/* .right::after {
    top: 54%;
    transform: rotate(-40deg);
}

.left::after {
    top: 54%;
    left: .7rem;
}

.left::before {
    left: .7rem;
    transform: rotate(-40deg);
} */

@media (hover: hover) {
    .pass__button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* .left:hover::before,
    .left:hover::after,
    .right:hover::before,
    .right:hover::after {
        background-color: #FFF;
    } */
}

@media screen and (min-width: 772px) {

    /* .left::before,
    .left::after,
    .right::before,
    .right::after {
        width: 18px;
    }

    .right::before,
    .left::before {
        top: 38%;
    }

    .left::after {
        left: .8rem;
        top: 60%;
    }

    .right::after {
        top: 60%;
    }

    .left::before {
        left: .8rem;
    } */
}

@media screen and (min-width: 992px) {
    /* .left::after {
        left: .8rem;
        top: 57%;
    }

    .right::after {
        top: 57%;
    } */
}


.svg-icon.slider-icon {
    width: 2rem;
    height: 2rem;
}

.svg-icon.slider-icon path,
.svg-icon.slider-icon polygon,
.svg-icon.slider-icon rect {
    fill: #fff;
}

.svg-icon.slider-icon circle {
    stroke: #fff;
    stroke-width: 1;
}

.svg-icon.slider-icon-right {
    transform: rotate(180deg);
}