.slider-container {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider-container>.slider-element {
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.slider-element.active {
    opacity: 1;
    z-index: 2;
}

.buttons__container {
    position: absolute;
    z-index: 10;
    height: 2.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    padding: 0 .5rem;
}

.pass__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    border: 0;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 250ms ease;
}

@media (hover: hover) {
    .pass__button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 772px) {}

@media screen and (min-width: 992px) {}


.svg-icon.slider-icon {
    width: 2rem;
    height: 2rem;
}

.svg-icon.slider-icon path,
.svg-icon.slider-icon polygon,
.svg-icon.slider-icon rect {
    fill: #fff;
}

.svg-icon.slider-icon circle {
    stroke: #fff;
    stroke-width: 1;
}

.svg-icon.slider-icon-right {
    transform: rotate(180deg);
}