.upload-form {
    display: flex;
    justify-content: center;
    height: 90dvh;
}

.input {
    display: block;
    width: 100%;
}

*[data-space] {
    margin-bottom: 1rem;
}

div[data-stretch] {
    flex-grow: 1;
}

.upload-form form {
    margin: 0 auto;
    min-width: 300px;
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.upload-form .pet-form {
    row-gap: 1rem;
}

.upload-submit-button {
    width: 100%;
    margin-bottom: 1rem;
}

#button-post-imgs,
#button-pet-img {
    width: 100%;
}


/* Upload Pet Form */
.upload-pet-form-container {
    /* max-height: 85dvh; */
    overflow-y: auto;
}

.behaviors-container,
.ids-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.ids-container {
    justify-content: flex-start;
}

.id-span {
    cursor: pointer;
    transition: background-color 300ms ease;
}

@media screen and (hover: hover) {
    .id-span:hover {
        background-color: var(--third-color-hover);
    }
}

@media screen and (min-width: 990px) {
    .upload-form {
        height: 84dvh;
    }

    .behaviors-container {
        justify-content: flex-start;
    }
}